<!-- Modal: Error Bloqueante -->
<div class="modal fade" id="modalErrorBloqueante" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">
                    <i class="fas fa-exclamation-triangle me-2"></i>Error
                </h5>
            </div>
            <div class="modal-body">
                <p id="errorBloqueanteTexto"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-redirect-bloqueante">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>